@model List<BlogModel>

@{
    ViewData["Title"] = "Blog List";
    int count = 1;

    var isSuccess = TempData["IsSuccess"];
    var message = TempData["Message"];
}

@{
    if (isSuccess is not null)
    {
        var _isSuccess = Convert.ToBoolean(isSuccess);

        if (!_isSuccess)
        {
            <div class="alert alert-danger" role="alert">
                @message
            </div>
        }

        <div class="alert alert-success" role="alert">
            @message
        </div>
    }
}
<table class="table table-bordered">
    <thead>
        <tr>
            <td></td>
            <td>No.</td>
            <td>Title</td>
            <td>Author</td>
            <td>Content</td>
        </tr>
    </thead>
    <tbody id="table">
        @{
            foreach (var blog in Model)
            {
                <tr>
                    <td>
                        <a href="/blog/edit/@blog.BlogId" class="btn btn-outline-warning">Edit</a>
                        <form action="/blog/delete/@blog.BlogId">
                            <button id="deleteBtn" class="btn btn-outline-danger">Delete</button>
                        </form>
                    </td>
                    <td>@(count++)</td>
                    <td>@blog.BlogTitle</td>
                    <td>@blog.BlogAuthor</td>
                    <td>@blog.BlogContent</td>
                </tr>
            }
        }
    </tbody>
</table>

@section scripts {
    <script>
            $(document).ready(function() {
            $('deletebtn').click(function() {
                let result = confirm("Are you sure you want to delete?")
                if(!reult) return;
                $(this).parent().submit();
            })
        })
    </script>
}