@model PieChartModel
@using Newtonsoft.Json;

@{
	int[] _series = Model.Series;
	string[] _labels = Model.Labels;
}

<div id="donutchart"></div>

@section scripts {
    <script src="/lib/ApexCharts/index.js"></script>

    <script>

        const _series = @(JsonConvert.SerializeObject(_series));
		const _labels =  @Html.Raw(JsonConvert.SerializeObject(_labels));
		// const _series  = [44, 55, 13, 43, 22];
		// const _labels = ['Team A', 'Team B', 'Team C', 'Team D', 'Team E'];

		var options = {
		  series: _series,
		  chart: {
		  width: 380,
		  type: 'donut',
		},
		plotOptions: {
			pie: {
				donut: {
					labels: {
						show: true,
						total: {
							show: true,
						},
					}
				}
			}
		},
		labels: _labels,
		responsive: [{
		  breakpoint: 480,
		  options: {
			chart: {
			  width: 200
			},
			legend: {
			  position: 'bottom'
			}
		  }
		}]
		};

		var chart = new ApexCharts(document.querySelector("#donutchart"), options);
		chart.render();

    </script>

}